<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.5em; font-weight: bold; }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body class="ng-scope" ng-app="LunchCheck">
   <div class="container ng-scope" ng-controller="LunchController">
   
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" ng-model="menues" placeholder="list comma separated dishes you usually have for lunch" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="ctrlLunch();">Check If Too Much</button>
         </div>
         <div class="form-group message ng-binding">
           {{message}}
           
         </div>
         
</body>
</html>


